# Database
DATABASE_URL=tu_URL_de_postgresql

# Server
PORT=3000

# JWT
JWT_SECRET=tu_secreto_super_seguro_minimo_32_caracteres
JWT_EXPIRES_IN=7d

# Supabase (opcional)
SUPABASE_URL=tu_URL_supabase
SUPABASE_KEY=tu_KEY
